@use "./partials/global" as *;
@use "./partials/mixin" as *;
@use "./partials/variables" as *;
@use "./partials/keyframes" as *;

/*Button styling*/
.button__container {
    display: flex;
    justify-content: left; 

    .button__link {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #5bacc3;
        height: fit-content;
        opacity: 50%;
        color: #fff;
        @include margin1_25rem_top-bottom;
    
        .button {
            display: block;
            border: 2px #393939 solid;
            background-color: transparent;
            font-size: 1.3125rem;
            text-wrap: nowrap;
            text-align: center;
            max-width: 100%;
            padding: 20px 40px;
            color: #fff;
            position: relative;
            top: -5px;
            left: -5px;
            transition-property: transform; 
            transition-duration: 0.5s;

            &:hover {
                cursor: pointer;
            }

            &:active {
                position: relative;
                top: 0;
                left: 0;
            }
            
        }
    }
}

.button__container--center {
    justify-content: center;
}

/*Main navigation styling*/
header {
    margin-bottom: 1.25rem;
}

header,
.product-intro {
    background-color: #fff0ed;
    margin-bottom: 0;
    @include pad1_25rem_top-bottom;
}

/*Product introduction styling*/
.product-intro__title {
    font-size: 3.75rem;
    font-weight: 300;
    width: 22.5rem;
}

.product-intro__description {
    width: 22.5rem;
    @include pad1_25rem_top-bottom;
}

.product-intro {
    display: flex;
    justify-content: space-around;
    gap: 1.25rem;
}

.product-intro__container {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    @include padding1_25rem_all;
}

.product-intro__image {
    padding-bottom: 1.25rem
}

/* Our Products section and card styling */
section.product {
    background-color: #f7f7f7;
    padding-bottom: 20px;
}

h2.product__heading {
    text-align: center;
    @include pad1_25rem_top-bottom;
}

.product__container {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    @include pad1_25rem_top-bottom;
}

article.product__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20.625rem;
    height: 27.5rem;
    margin-bottom: 1.25rem;
    padding: 0;
    border-radius: 10px;
    box-shadow:  0 5px 9px -1px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    overflow: hidden;
}

.product__image {
    text-align: center;
    object-fit: contain;
    height: 17.5rem;
    @include padding1_25rem_all;
}

h3.product__name {
    display: block;
    margin: 0;
}

.product__details-container {
    display: flex;
    background-color: #fff0ed;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    width: 100%;
    @include pad1_25rem_left-right;
}

.product__details{
    flex-wrap: wrap;
    @include margin-padding_zero;
}

.product__quantity {
    text-align: left;
    color: #909090;
}

p.product__price--bold {
    font-weight: bold;
    margin: 0;
}

/*Statement section styling*/
.message-section {
    display: flex;
    justify-content: space-around;
    min-height: 20vw;
    gap: 1.25rem;
    @include pad1_25rem_top-bottom;

    .message--left {
        display: block;
        width: 35rem;
        @include margin1_25rem_all ;

        .left-content {
            text-align: left;
        @include margin1_25rem_top-bottom;
        }

        div.left-content--icons {
            display: flex;
            justify-content: space-between;
            
            .content-icon {
                width: $icon-width;
            }

        }

    }
}

.message--right {
    padding: 0;
    width: 25rem;
    min-width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/images/coldbrewbackground.png");
    background-size: cover;
    position: relative;
    margin: 20px;

    .image-container {
        @include image-container-offset;

        .message__image {
            height: 17.5rem;
            padding: 1.25rem;
            transition-property: transform;
            transition-duration: 0s;

            &:hover {
                animation-name: hover-spin;
                animation-duration: 2s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                cursor: pointer;
            }
        } 
    }
}

/*Discount section styling*/
p.discount-banner__text {
    width: 90%;
    background-color: #393939;
    color: #fff;
    font-size: 2.8125rem;
    font-weight: 400;
    text-align:center;
    margin: 10rem auto;
    padding: 2.5rem 0;
    width: 80vw;
    max-width: 80rem;
    animation-name: background-flash;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 10s;
}

span {
    font-weight: 700;
}

/* Footer styling */
footer {
    display: flex;
    justify-content: space-around;
    background-color: #fff0ed;
    position: relative;
}

div.footer-div {
    display: inline-block;
    text-align: left;
    margin: 1.25rem;
}

h3.footer-div__heading {
    font-size: 2.0625rem;
    font-weight: 300;
    text-align: left;
    margin: 1.25rem 0;
}

.footer-div__description {
    margin: 0;
}

.footer__icon--left {
    @include icon-position;
    left: -20px;
}

.footer__icon--right {
    @include icon-position;
    right: -20px;
}