/*Global variables*/
/*Landing page variables*/
/*Menu page variables*/
/*Margin and padding: same value all sides*/
/*Padding only*/
/*Margin only*/
html {
  font-size: 16px;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav.nav-bar,
.nav-bar__item {
  display: flex;
}

a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

h2 {
  padding: 0;
  margin: 0;
}

@keyframes background-flash {
  0% {
    background-color: #393939;
  }
  50% {
    background-color: #5bacc3;
  }
  100% {
    background-color: #393939;
  }
}
@keyframes hover-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(270deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*Button styling*/
.button__container {
  display: flex;
  justify-content: left;
}
.button__container .button__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5bacc3;
  height: -moz-fit-content;
  height: fit-content;
  opacity: 50%;
  color: #fff;
  margin: 1.25rem 0;
}
.button__container .button__link .button {
  display: block;
  border: 2px #393939 solid;
  background-color: transparent;
  font-size: 1.3125rem;
  text-wrap: nowrap;
  text-align: center;
  max-width: 100%;
  padding: 20px 40px;
  color: #fff;
  position: relative;
  top: -5px;
  left: -5px;
  transition-property: transform;
  transition-duration: 0.5s;
}
.button__container .button__link .button:hover {
  cursor: pointer;
}
.button__container .button__link .button:active {
  position: relative;
  top: 0;
  left: 0;
}

.button__container--center {
  justify-content: center;
}

/*Main navigation styling*/
header {
  margin-bottom: 1.25rem;
}

header,
.product-intro {
  background-color: #fff0ed;
  margin-bottom: 0;
  padding: 1.25rem 0;
}

/*Product introduction styling*/
.product-intro__title {
  font-size: 3.75rem;
  font-weight: 300;
  width: 22.5rem;
}

.product-intro__description {
  width: 22.5rem;
  padding: 1.25rem 0;
}

.product-intro {
  display: flex;
  justify-content: space-around;
  gap: 1.25rem;
}

.product-intro__container {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  padding: 1.25rem;
}

.product-intro__image {
  padding-bottom: 1.25rem;
}

/* Our Products section and card styling */
section.product {
  background-color: #f7f7f7;
  padding-bottom: 20px;
}

h2.product__heading {
  text-align: center;
  padding: 1.25rem 0;
}

.product__container {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  padding: 1.25rem 0;
}

article.product__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20.625rem;
  height: 27.5rem;
  margin-bottom: 1.25rem;
  padding: 0;
  border-radius: 10px;
  box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  overflow: hidden;
}

.product__image {
  text-align: center;
  -o-object-fit: contain;
     object-fit: contain;
  height: 17.5rem;
  padding: 1.25rem;
}

h3.product__name {
  display: block;
  margin: 0;
}

.product__details-container {
  display: flex;
  background-color: #fff0ed;
  justify-content: space-around;
  align-items: center;
  height: 30%;
  width: 100%;
  padding: 0 1.25rem;
}

.product__details {
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.product__quantity {
  text-align: left;
  color: #909090;
}

p.product__price--bold {
  font-weight: bold;
  margin: 0;
}

/*Statement section styling*/
.message-section {
  display: flex;
  justify-content: space-around;
  min-height: 20vw;
  gap: 1.25rem;
  padding: 1.25rem 0;
}
.message-section .message--left {
  display: block;
  width: 35rem;
  margin: 1.25rem;
}
.message-section .message--left .left-content {
  text-align: left;
  margin: 1.25rem 0;
}
.message-section .message--left div.left-content--icons {
  display: flex;
  justify-content: space-between;
}
.message-section .message--left div.left-content--icons .content-icon {
  width: 3.125rem;
}

.message--right {
  padding: 0;
  width: 25rem;
  min-width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/images/coldbrewbackground.png");
  background-size: cover;
  position: relative;
  margin: 20px;
}
.message--right .image-container {
  border: 0.3125rem #5bacc3 solid;
  width: 100%;
  height: 100%;
  position: relative;
  top: -1.25rem;
  left: -1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 0;
}
.message--right .image-container .message__image {
  height: 17.5rem;
  padding: 1.25rem;
  transition-property: transform;
  transition-duration: 0s;
}
.message--right .image-container .message__image:hover {
  animation-name: hover-spin;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  cursor: pointer;
}

/*Discount section styling*/
p.discount-banner__text {
  width: 90%;
  background-color: #393939;
  color: #fff;
  font-size: 2.8125rem;
  font-weight: 400;
  text-align: center;
  margin: 10rem auto;
  padding: 2.5rem 0;
  width: 80vw;
  max-width: 80rem;
  animation-name: background-flash;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 10s;
}

span {
  font-weight: 700;
}

/* Footer styling */
footer {
  display: flex;
  justify-content: space-around;
  background-color: #fff0ed;
  position: relative;
}

div.footer-div {
  display: inline-block;
  text-align: left;
  margin: 1.25rem;
}

h3.footer-div__heading {
  font-size: 2.0625rem;
  font-weight: 300;
  text-align: left;
  margin: 1.25rem 0;
}

.footer-div__description {
  margin: 0;
}

.footer__icon--left {
  width: 7.5rem;
  opacity: 25%;
  position: absolute;
  top: 20px;
  left: -20px;
}

.footer__icon--right {
  width: 7.5rem;
  opacity: 25%;
  position: absolute;
  top: 20px;
  right: -20px;
}/*# sourceMappingURL=landing.css.map */