@use "./partials/global" as *;
@use "./partials/mixin" as *;
@use "./partials/variables" as *;

/*Main navigation styling*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff0ed;
    @include padding1_25rem_all;
}

img.icon {
    width: 3.125rem;
}

h2.nav-heading {
   @include margin-padding_zero;
}

.nav-bar__list {
    display: flex;
}

li a {
    font-size: 1.3125rem;
    font-weight: 400;
}

.nav-heading--black, 
.nav-bar__link--black {
    color: #000;
    padding: 0 1.25rem;
}

a.nav-bar__link--blue {
    color: #5bacc3;
    @include pad1_25rem_left-right;
}

/* Menu navigation styling */
.menu-title {
    display: flex;
    background-image: url("/assets/images/coffee-circle.jpg");
    background-size: 100% cover;
    background-position: center;
    height: $back-img-height_menu;
}

.menu-title__offset {
    @include title-box-offset;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #393939;
    color: #fff;
    font-size: 3rem;
    font-weight: lighter;
    text-align: center;
    width: 18.75rem;
    height: 12.5rem;
    margin: auto;
}

ul.nav-menu__list {
    background-color: #393939;
    text-align: center;
    font-weight: lighter;
    width: 100%;
    @include padding1_25rem_all;
}

li {
    list-style-type: none;
}

li.nav-menu__item {
    display: inline-block;
}

li.nav-menu__item a {
    color: #fff;
}

a.item-link-heading {
    display: block;
    padding-left:1.25rem;
    border-left: .25rem solid #5bacc3;
    @include margin1_25rem_left-right;
}

/* Menu item styling */
section.hot-drinks, section.pastries {
    background-color: #fff0ed;
    text-align: center;
}

section.cold-drinks {
    background-color: #f7f7f7;
    text-align: center;
}

h2 {
    font-size: 3.75rem;
    font-weight: 300;
    @include margin1_25rem_left-right;
    @include pad1_25rem_top-bottom;
}

h3.product__name {
    @include  margin1_25rem_top-bottom;
}

article h3.product__name {
    font-size: 2.0625rem;
    font-weight: 300;
}

article {
    @include margin1_25rem_left-right;
}

p {
    font-size: 1.125rem;
    font-weight: 400;
}

.menu-item {
    text-align: center;

    &:last-child {
        padding-bottom: 1.25rem;
    }
}

.product__price {
    color: #5bacc3;   
}

.product__description--center {
    margin: 0 25vw;
    font-style: italic;
}



