//*Landing page mixins*/
@mixin nav-button-style {
    background-color: #5bacc3;
    color: #fff;
    font-size: 1.3125rem;
    font-weight: 400;
    padding: 1.25rem;
    width: 11.25rem;
    border: none;
}

@mixin image-container-offset {
    border: .3125rem #5bacc3 solid;
    width: 100%;
    height: 100%;
    position: relative;
    top: -1.25rem;
    left: -1.25rem;
    @include flex-center;
    align-items: center;
    padding: 1.25rem 0;
}

//*Menu page mixins*/
@mixin title-box-offset {
    position: relative;
    border: .3125rem solid #5bacc3;
    top: -15px;
    left: -15px;
    width: 100%;
    height: 100%;
}

//*Display properties*/
@mixin flex-center {
    display: flex;
    justify-content: center;
}

//* Positioning*/
@mixin icon-position {
    width: 7.5rem;
    opacity: 25%;
    position: absolute;
    top: 20px;
}

//*Box model*/
/*Margin and padding: same value all sides*/
@mixin margin-padding1_25rem_all {
    margin: 1.25rem;
    padding: 1.25rem;
}

@mixin margin-padding_zero {
    margin: 0;
    padding: 0;
}

/*Padding only*/
@mixin padding1_25rem_all {
    padding: 1.25rem;
}

@mixin pad1_25rem_top-bottom {
    padding: 1.25rem 0;
}

@mixin pad1_25rem_left-right {
    padding: 0 1.25rem;
}

/*Margin only*/
@mixin margin1_25rem_all {
    margin: 1.25rem;
}

@mixin margin1_25rem_top-bottom {
    margin: 1.25rem 0;
}

@mixin margin1_25rem_left-right {
    margin: 0 1.25rem;
}